@import '../abstracts/mixins';

.menu-btn{
    background-color: transparent;
    cursor: pointer;
}

.refund-btn{
    @include btn-text();
    background-color: #cfd0d1;
    cursor: pointer;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
    
    
    

}
.select-btn{
    @include btn-CPtext();
    width: 87px;
    height: 50px;
    background-color:  #ffffff;
    cursor: pointer;
    border: 2px solid  rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 3px;
    padding: 15px 30px 20px 25px;
    &:hover{
        background-color: #ff0000 ;
        color: #ffffff;

    }

}
.selected-btn{
    background-color:  #ffffff;
    text-decoration: underline;
    font-size: 14px;
    color: #450447;

}
.next-btn{
    @include btn-CPtext();
    width: 200px;
    height: 50px;
    color: #ffffff;
    background-color: #C5C6C7;
  

}

