@import '../abstracts/mixins';

.content{
    background-image: linear-gradient(142deg, #f2f2f2 0%, #d9d9d9 100%);
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;

    .inner-content{
        width: 1070px;
        height: 100%;
        
        p{
            @include bodytext-normal();
           
            padding-left: 48px;
        }
        h2{
            @include route-font();
            padding-left: 48px;
            padding-top: 15px;
        }

    
        .trip{
            background-color: #ffffff;
            height: 140px;
            width: 100%;
            margin-bottom: 15px;
            margin-top: 29px;
           

            
            .inner{
                padding: 33px 40px 30px 20px;
                display: flex;
                align-items:center;
                justify-content: flex-start;
                position: relative;
                
                          
                &__time-left {
                    .departure{
                        @include departure-time();
                        position: relative;
                        padding-right: 20px;
                        &:after{
                            @include bullet-grey();
                            right: -5px;
                            top:5px ;
                        }
                        &:before{
                            @include line-grey();
                            right: 0;
                            top: 13px;

                        }
                    }
                    .arrival{
                        font-size: 18px;
                        text-align: right;
                        padding-top: 25px;
                        padding-right: 20px;
                        position: relative;
                        &:after{
                            @include bullet-grey();
                            right: -5px;
                            bottom: 5px;
                                                  
                        }
                        &:before{
                            @include line-grey();
                            right: 0;
                            bottom: 14px;
                        }

                    }
                
                }
                //ümberistumisega
                &__time-leftchange {
                    
                    
                    &:after{
                        @include bullet-grey-small();
                        left: 143px;
                        top: 50%;
                        transform: translateY(-50%);
                          
                    }
                    .departure{

                        @include departure-time();
                        position: relative;
                        padding-right: 20px;
                        &:after{
                            @include bullet-grey();
                           right: -5px;
                           top:5px ;
                        }
                        &:before{
                            @include line-grey();
                            right: 0;
                            top: 13px;
                        }
                        
                    }
                    .arrival{
                        font-size: 18px;
                        text-align: right;
                        padding-top: 25px;
                        padding-right: 20px;
                        position: relative;
                        &:after{
                            @include bullet-grey();
                            right: -5px;
                            bottom: 5px;
                        }
                        &:before{
                            @include line-grey();
                            right: 0;
                            bottom: 14px;
                        }
                    }
  
                }
                &__time-right {
                    width: 150px;
                    padding-left: 20px;
                        p{
                            @include bodytext();
                            opacity: 0.6;
                            padding-left: 0px;
                    }
                 
                }
                
                
                &__details{
                    width: 250px;
                    padding-left: 40px;
                    p{
                        padding-left: 0px;
                        padding-bottom: 12px;
                        opacity: 0.6;
                    }
                    &__icons{
                        display: inline-flex;
                        padding-bottom: 12px;
                        i{
                            padding-right: 10px;
                        }

                    }

                }
                &__traveller-info{
                    @include bodytext();
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    
                    &__pricered{
                        @include departure-time();
                        color: #ff0000;
                        padding-left: 10px;
                    }
                    &__eur-red{
                        @include departure-time();
                        color: #ff0000;
                        font-size: 18px;
                        padding-left: 0px;
                        padding-right: 20px;

                    }
                    &__price{
                        @include departure-time();
                        color: #000000;
                        padding-left: 10px;
                    }
                    &__eur{
                        @include departure-time();
                        color: #000000;
                        font-size: 18px;
                        padding-left: 10px;
                        padding-right: 20px;

                    }
                    a{
                        padding-left: 20px;
                    }
                }
            }
        
        }
  
      
        .trip-details{
            display: flex;
            flex-direction: row;
            i{
                position: relative;
                top:20px;
                left: 20px;
            }
            
        }
        .date{
            margin-top: 94px;

        }
        .choose-date{
            
           
           
            &__container{
                
                padding: 0px 30px 0px 30px;
                border-bottom: 1px solid #d9d9d9;
                margin-bottom: 36px;
                margin-top:43px;
                position: relative;

        
                .carousel-element{
                    cursor: pointer;
                    
                    p{
                        text-align: center;
                    }
                   
                    .day{
                        @include bodytext();
                        font-size:12px;
                        text-align: center;
                       
                    }
                
                   
               
                }
                .left{
                    position: absolute;
                    top: 25%;
                    left: 0px;
                    background-color: rgba(1, 1, 0, 0);
                }
                .right{
                    position: absolute;
                    top: 25%;
                    right: 0px;
                    background-color: rgba(1, 1, 0, 0);

                }
            }
              
        }   
            
    }
    .slick-center{
    
    
        border-bottom: 2px solid #ff0000;
        padding-bottom: 15px;
        font-weight: 600;
        
    
    }
    
}


