@import '../abstracts/mixins';

.footer{
    background-color:#4d4d4f;
    height: 228px;
    width: 100%;
    display:flex;
    flex-direction: column;
    
    
    
   
    .left {
       padding-left: 78px;
       padding-top: 36px;

       
        span{
            @include footerText-light();
            padding-left: 40px;
            
        }
        a{
            @include footerText-light();
            padding-left: 40px;

        }
        &__contact-info{
            padding-top: 48px;
        }
    }
    .right{
        display: flex;
        margin-right: 0px;
        justify-content: flex-end;
        align-items: flex-end;
        background-color:#4d4d4f;
        position: relative;
        
        button{
            position: absolute;
            bottom: -64px;
            right:30px;
            
            i{
               position: absolute;
               right: 25px;
               bottom:14px;
            }
        }
        

    }
    

}
