@import '../abstracts/mixins';



.menu{
    
    visibility: hidden;
    transform: translateX(100%);
    position: fixed;
    right: 0;
    top:0;
    transition: all .2s ease-in-out;
    background-color: #c9212100;
    height: 100%;
    width: 20%;
    z-index: 23;

    
    &__show{
        visibility: visible;
        transform: translateX(0%);
 
    }
    form div{
        text-align: center;
    }
  


   
    &__container{
        background-color: rgba(77, 77, 79, 1);
        height: 100%; 
        display:flex;
        flex-direction: row;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        justify-content: center;
        color: #ffffff;
        .close{
            height: 30px;
            width: 30px;
            background-color: rgba(77, 77, 79, 1);
            color: #ffffff;
            position: absolute;
            right:10px;
            top:20px;
            font-size: 22px;
        }
        
        
        h3{
            color: #ffffff;
            font-size: 24px;
            font-family: 'Lato';
            padding: 10px 40px 40px 0px;
            text-align: center;
                      
        }
        ::-webkit-input-placeholder { 
            font-family: 'Roboto';
            font-size: 0.9em;
        }
        
        input[type=text]{
            padding: 5px 0px 5px 10px;
            height: 15%;
            width: 100%;
            border-radius: 5px;
            margin:10px 0px 10px 0px;
            font-family: 'Roboto';
                     
        }
        label{
            font-family: 'Roboto';
           
        }
        .formTo{
            padding-bottom: 40px;
        }
        input[type=date]{
            padding: 5px 0px 5px 10px;
            height: 15%;
            width: 100%;
            border-radius: 5px;
            margin:3px 0px 10px 0px;
            font-family: 'Roboto';
   
        }
      
       
        
            
        .add{
            height: 30px;
            width: 30px;
            border-radius: 15px;
            margin: 20px 5px 0px 5px;
            font-weight: 600;
        }
        .subtract{
            height: 30px;
            width: 30px;
            border-radius: 15px;
            margin: 20px 5px 0px 5px;
            font-weight: 600;
        }
        .find{
            background: #ff0000;
            height: 70px;
            width: 70px;
            border-radius: 40px;
            text-transform: uppercase;
            margin-top: 20px;
            font-weight: 600;

        }
            

        
        .passengers{
            display: flex;
            justify-content: center;
            input[type=number]{
            
                font-size: 16px;
                margin:25px 0px 0px 10px;
                background-color: rgba(77, 77, 79, 1);
                color: #ffffff;
                width: 10%;
                
                &:-webkit-inner-spin-button{
                    -webkit-appearance: none; 
                    margin: 0; 

                }
                &:-webkit-outer-spin-button{
                    -webkit-appearance: none; 
                    margin: 0; 

                }
               
            }

            .passengerText{
                font-size: 16px;
                margin:30px 10px 0px 0px;
                color: #ffffff;
            }
        }
       

        .checkboxLabel{
            display:block;
            margin:20px 0px 20px 0px;
            position: relative;
            cursor: pointer;
           

            input{  //peidab default checkboxi
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
                cursor: pointer;
            }
            input:checked ~ .checkmark {
                background-color: #4d4d4f;
                
            }
            input:checked ~ .checkmark:after {
                display: block;
            }
            
            .checkmark:after {
                left: 4px;
                top: 2px;
                width: 10px;
                height: 10px;
                border: solid #f30000;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            } 
            
        }
         
        .checkmark{  //uus checkbox
            position: absolute;
            top: -5px;
            right:60px;
            height: 20px;
            width: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            &:after{
                content: "";
            position: absolute;
            display:none;
            }
          
          
        }
        


    }
    
   
}

