@import '../abstracts/mixins';

.header{
   
    background-color: #ffffff;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
   
   
    p{
        @include bodytext();
    }
    .logo{
        padding: 30px 38px 28px 200px;

    }
    .summary-item-container-left{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 30px 21px 20px 21px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        &:after{
            content: "";
            height: 2px;
            width:29.2%;
            display: block;
            position: absolute;
            background-color: #ff0000;
            top:90px;
            left:415px;
            overflow:hidden;
             
    
        }
      
      
        .route{ 
            padding-left: 17px;
            padding-right: 18px;
            
            .depDate{
                &:after{
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border: 2px solid #000000;
                    border-radius: 50%;
                    left: 415px;
                    top:73px 
                }

            }
            i{
                position: absolute;
                
            }
            
            &__bold{
                @include bodytext-bold();
                padding-right:5px;
               
           
            }
           
        }
       
    }
    .summary-item{
       
        padding: 22px 21px 20px 21px;
        display:flex;
        align-items: flex-end;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
     
        &:before{
            content: "";
            height: 1px;
            width: 53%;
            display: block;
            position: absolute;
            background-color: #95989a;
            opacity: 0.1;
            left: 424px;
            top:78px;

        }
        .traveller{
            padding-left: 20px;
            padding-right: 50px;
            &:after{
                @include bullet-grey();
                top:73px;
                 
            }
            .passengersText{
                display: inline-flex;
                .ptext{
                    padding-left:5px;
                }
            }
         
           
        }
        .services{
            
            padding-left: 20px;
            padding-right: 50px;
            &:after{
                @include bullet-grey();
                top:73px;
                 
            }
        }
       
        &__price{
            font-family: 'Lato';
            color: #4d4d4f;
            font-size: 24px;
            align-self: flex-end;
            padding-left: 5px;
          
        }
        &__eur{
            font-family: 'Lato';
            font-size: 18px;
            padding-left: 5px;
            color: #4d4d4f;
            &:after{
                @include bullet-grey();
                top:73px;
                right: 460px;
               
                 
            }
           

        }

    }
   
    .menu-icon{
        padding: 37px 33px 37px 33px;

    }
}