@import '../abstracts/mixins';

.summary{
    background-color: #fcfcfc;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    &__container{
        
        display:flex;
       justify-content: flex-end;
       align-items: center;
       width: 1070px;
       height: 100%;
      
      

        &__traveller {
            border-right: 1px solid  rgba(0, 0, 0, 0.2);;
            p{
            padding-left: 20px;
            @include bodytext();
            text-align: right;
            padding-right: 5px;
            
            opacity: 0.6;
            }
            .passengersText{
                display: inline-flex;
                
                .ptext{
                    padding-left:1px;
                }
            }
        }
        &__from {
            p{
            @include bodytext();
            padding-left: 30px;
            padding-right: 10px;
            opacity: 0.6;

            }   
        }
        &__price {
            @include final-price();
            padding-right: 15px;
            width: 150px;
            }
            &__eur{
                @include final-price();
                font-size: 30px;
                padding-right: 15px;

            }
        
        
    }
}