// Fonts

@mixin bodytext {
    color: #4d4d4f;;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
  
}
@mixin bodytext-bold{
    color: #222222;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;


}
@mixin bodytext-normal{
    color: #222222;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;


}

@mixin btn-text{
color: #222222;
font-family: 'Roboto';
font-size: 14px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 22px;
text-align: center;
padding:18px 51px 15px 30px;

}
@mixin footerText-light{
  
    width: 131px;
    height: 17px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
   
 
}
@mixin route-font {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 600;
    
}
@mixin departure-time{
    font-family: 'Roboto';
    font-size: 24px;
    text-align: right;
    font-weight: 600;
}
@mixin btn-CPtext{
    color: #222222;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 22px;
    text-align: center;
    padding:18px 51px 15px 30px;
    
    }
@mixin final-price {
    color: #222222;
    font-family: 'Lato';
    font-size: 36px;
    text-align: right;
    font-weight: 600;
    
}

//bullets & lines
@mixin bullet-grey {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid #95989a;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 10;
   
}
@mixin line-grey{
    content: "";
    height: 30px;
    width: 1px;
    display: block;
    position: absolute;
    background-color: #95989a;
    
}
@mixin bullet-grey-small {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid #95989a;
    background-color:  #95989a;
    border-radius: 50%;
    
}
