html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
  border: 0;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'Avenir Black';
  src: url("/dist/fonts/AvenirLTStd-Black.eot") format("embedded-opentype"), url("/dist/fonts/AvenirLTStd-Black.ttf") format("truetype"), url("/dist/fonts/AvenirLTStd-Black.woff") format("woff"), url("/dist/fonts/AvenirLTStd-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kreon bold';
  src: url("/dist/fonts/Kreon-Bold.ttf") format("truetype"), url("/dist/fonts/kreon-bold-webfont.woff") format("woff"), url("/dist/fonts/kreon-bold-webfont.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("/dist/fonts/Roboto-Regular.ttf");
  src: url("/dist/fonts/Roboto-Regular.ttf") format("embedded-opentype"), url("/dist/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("/dist/fonts/Lato-Regular.ttf") format("truetype"), url("/dist/fonts/Lato-Regular.ttf") format("embedded-opentype");
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black';
  src: url("/dist/fonts/AvenirLTStd-Black.eot") format("embedded-opentype"), url("/dist/fonts/AvenirLTStd-Black.ttf") format("truetype"), url("/dist/fonts/AvenirLTStd-Black.woff") format("woff"), url("/dist/fonts/AvenirLTStd-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kreon bold';
  src: url("/dist/fonts/Kreon-Bold.ttf") format("truetype"), url("/dist/fonts/kreon-bold-webfont.woff") format("woff"), url("/dist/fonts/kreon-bold-webfont.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("/dist/fonts/Roboto-Regular.ttf");
  src: url("/dist/fonts/Roboto-Regular.ttf") format("embedded-opentype"), url("/dist/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("/dist/fonts/Lato-Regular.ttf") format("truetype"), url("/dist/fonts/Lato-Regular.ttf") format("embedded-opentype");
  font-style: normal;
}

h6, h5, h4, h3, h2, h1 {
  font-family: 'Kreon bold', cursive;
  font-weight: bold;
  line-height: 1;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8;
}

h5 {
  font-size: 1.6;
}

h6 {
  font-size: 1.4;
}

p, span {
  color: #222222;
  font-family: 'Roboto';
}

.header {
  background-color: #ffffff;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header p {
  color: #4d4d4f;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
}

.header .logo {
  padding: 30px 38px 28px 200px;
}

.header .summary-item-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 21px 20px 21px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header .summary-item-container-left:after {
  content: "";
  height: 2px;
  width: 29.2%;
  display: block;
  position: absolute;
  background-color: #ff0000;
  top: 90px;
  left: 415px;
  overflow: hidden;
}

.header .summary-item-container-left .route {
  padding-left: 17px;
  padding-right: 18px;
}

.header .summary-item-container-left .route .depDate:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #000000;
  border-radius: 50%;
  left: 415px;
  top: 73px;
}

.header .summary-item-container-left .route i {
  position: absolute;
}

.header .summary-item-container-left .route__bold {
  color: #222222;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  padding-right: 5px;
}

.header .summary-item {
  padding: 22px 21px 20px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header .summary-item:before {
  content: "";
  height: 1px;
  width: 53%;
  display: block;
  position: absolute;
  background-color: #95989a;
  opacity: 0.1;
  left: 424px;
  top: 78px;
}

.header .summary-item .traveller {
  padding-left: 20px;
  padding-right: 50px;
}

.header .summary-item .traveller:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #95989a;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  top: 73px;
}

.header .summary-item .traveller .passengersText {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .summary-item .traveller .passengersText .ptext {
  padding-left: 5px;
}

.header .summary-item .services {
  padding-left: 20px;
  padding-right: 50px;
}

.header .summary-item .services:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #95989a;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  top: 73px;
}

.header .summary-item__price {
  font-family: 'Lato';
  color: #4d4d4f;
  font-size: 24px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 5px;
}

.header .summary-item__eur {
  font-family: 'Lato';
  font-size: 18px;
  padding-left: 5px;
  color: #4d4d4f;
}

.header .summary-item__eur:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #95989a;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  top: 73px;
  right: 460px;
}

.header .menu-icon {
  padding: 37px 33px 37px 33px;
}

.menu-btn {
  background-color: transparent;
  cursor: pointer;
}

.refund-btn {
  color: #222222;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
  padding: 18px 51px 15px 30px;
  background-color: #cfd0d1;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}

.select-btn {
  color: #222222;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
  padding: 18px 51px 15px 30px;
  width: 87px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 3px;
  padding: 15px 30px 20px 25px;
}

.select-btn:hover {
  background-color: #ff0000;
  color: #ffffff;
}

.selected-btn {
  background-color: #ffffff;
  text-decoration: underline;
  font-size: 14px;
  color: #450447;
}

.next-btn {
  color: #222222;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
  padding: 18px 51px 15px 30px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #C5C6C7;
}

.footer {
  background-color: #4d4d4f;
  height: 228px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .left {
  padding-left: 78px;
  padding-top: 36px;
}

.footer .left span {
  width: 131px;
  height: 17px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  padding-left: 40px;
}

.footer .left a {
  width: 131px;
  height: 17px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  padding-left: 40px;
}

.footer .left__contact-info {
  padding-top: 48px;
}

.footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #4d4d4f;
  position: relative;
}

.footer .right button {
  position: absolute;
  bottom: -64px;
  right: 30px;
}

.footer .right button i {
  position: absolute;
  right: 25px;
  bottom: 14px;
}

.content {
  background-image: linear-gradient(142deg, #f2f2f2 0%, #d9d9d9 100%);
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .inner-content {
  width: 1070px;
  height: 100%;
}

.content .inner-content p {
  color: #222222;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  padding-left: 48px;
}

.content .inner-content h2 {
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 600;
  padding-left: 48px;
  padding-top: 15px;
}

.content .inner-content .trip {
  background-color: #ffffff;
  height: 140px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 29px;
}

.content .inner-content .trip .inner {
  padding: 33px 40px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.content .inner-content .trip .inner__time-left .departure {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: right;
  font-weight: 600;
  position: relative;
  padding-right: 20px;
}

.content .inner-content .trip .inner__time-left .departure:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #95989a;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  right: -5px;
  top: 5px;
}

.content .inner-content .trip .inner__time-left .departure:before {
  content: "";
  height: 30px;
  width: 1px;
  display: block;
  position: absolute;
  background-color: #95989a;
  right: 0;
  top: 13px;
}

.content .inner-content .trip .inner__time-left .arrival {
  font-size: 18px;
  text-align: right;
  padding-top: 25px;
  padding-right: 20px;
  position: relative;
}

.content .inner-content .trip .inner__time-left .arrival:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #95989a;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  right: -5px;
  bottom: 5px;
}

.content .inner-content .trip .inner__time-left .arrival:before {
  content: "";
  height: 30px;
  width: 1px;
  display: block;
  position: absolute;
  background-color: #95989a;
  right: 0;
  bottom: 14px;
}

.content .inner-content .trip .inner__time-leftchange:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border: 1px solid #95989a;
  background-color: #95989a;
  border-radius: 50%;
  left: 143px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .inner-content .trip .inner__time-leftchange .departure {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: right;
  font-weight: 600;
  position: relative;
  padding-right: 20px;
}

.content .inner-content .trip .inner__time-leftchange .departure:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #95989a;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  right: -5px;
  top: 5px;
}

.content .inner-content .trip .inner__time-leftchange .departure:before {
  content: "";
  height: 30px;
  width: 1px;
  display: block;
  position: absolute;
  background-color: #95989a;
  right: 0;
  top: 13px;
}

.content .inner-content .trip .inner__time-leftchange .arrival {
  font-size: 18px;
  text-align: right;
  padding-top: 25px;
  padding-right: 20px;
  position: relative;
}

.content .inner-content .trip .inner__time-leftchange .arrival:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #95989a;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  right: -5px;
  bottom: 5px;
}

.content .inner-content .trip .inner__time-leftchange .arrival:before {
  content: "";
  height: 30px;
  width: 1px;
  display: block;
  position: absolute;
  background-color: #95989a;
  right: 0;
  bottom: 14px;
}

.content .inner-content .trip .inner__time-right {
  width: 150px;
  padding-left: 20px;
}

.content .inner-content .trip .inner__time-right p {
  color: #4d4d4f;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  opacity: 0.6;
  padding-left: 0px;
}

.content .inner-content .trip .inner__details {
  width: 250px;
  padding-left: 40px;
}

.content .inner-content .trip .inner__details p {
  padding-left: 0px;
  padding-bottom: 12px;
  opacity: 0.6;
}

.content .inner-content .trip .inner__details__icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 12px;
}

.content .inner-content .trip .inner__details__icons i {
  padding-right: 10px;
}

.content .inner-content .trip .inner__traveller-info {
  color: #4d4d4f;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.content .inner-content .trip .inner__traveller-info__pricered {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: right;
  font-weight: 600;
  color: #ff0000;
  padding-left: 10px;
}

.content .inner-content .trip .inner__traveller-info__eur-red {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: right;
  font-weight: 600;
  color: #ff0000;
  font-size: 18px;
  padding-left: 0px;
  padding-right: 20px;
}

.content .inner-content .trip .inner__traveller-info__price {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: right;
  font-weight: 600;
  color: #000000;
  padding-left: 10px;
}

.content .inner-content .trip .inner__traveller-info__eur {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: right;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 20px;
}

.content .inner-content .trip .inner__traveller-info a {
  padding-left: 20px;
}

.content .inner-content .trip-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .inner-content .trip-details i {
  position: relative;
  top: 20px;
  left: 20px;
}

.content .inner-content .date {
  margin-top: 94px;
}

.content .inner-content .choose-date__container {
  padding: 0px 30px 0px 30px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 36px;
  margin-top: 43px;
  position: relative;
}

.content .inner-content .choose-date__container .carousel-element {
  cursor: pointer;
}

.content .inner-content .choose-date__container .carousel-element p {
  text-align: center;
}

.content .inner-content .choose-date__container .carousel-element .day {
  color: #4d4d4f;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  font-size: 12px;
  text-align: center;
}

.content .inner-content .choose-date__container .left {
  position: absolute;
  top: 25%;
  left: 0px;
  background-color: rgba(1, 1, 0, 0);
}

.content .inner-content .choose-date__container .right {
  position: absolute;
  top: 25%;
  right: 0px;
  background-color: rgba(1, 1, 0, 0);
}

.content .slick-center {
  border-bottom: 2px solid #ff0000;
  padding-bottom: 15px;
  font-weight: 600;
}

.summary {
  background-color: #fcfcfc;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1070px;
  height: 100%;
}

.summary__container__traveller {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.summary__container__traveller p {
  padding-left: 20px;
  color: #4d4d4f;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  text-align: right;
  padding-right: 5px;
  opacity: 0.6;
}

.summary__container__traveller .passengersText {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.summary__container__traveller .passengersText .ptext {
  padding-left: 1px;
}

.summary__container__from p {
  color: #4d4d4f;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  padding-left: 30px;
  padding-right: 10px;
  opacity: 0.6;
}

.summary__container__price {
  color: #222222;
  font-family: 'Lato';
  font-size: 36px;
  text-align: right;
  font-weight: 600;
  padding-right: 15px;
  width: 150px;
}

.summary__container__eur {
  color: #222222;
  font-family: 'Lato';
  font-size: 36px;
  text-align: right;
  font-weight: 600;
  font-size: 30px;
  padding-right: 15px;
}

.menu {
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #c9212100;
  height: 100%;
  width: 20%;
  z-index: 23;
}

.menu__show {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu form div {
  text-align: center;
}

.menu__container {
  background-color: #4d4d4f;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.menu__container .close {
  height: 30px;
  width: 30px;
  background-color: #4d4d4f;
  color: #ffffff;
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 22px;
}

.menu__container h3 {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Lato';
  padding: 10px 40px 40px 0px;
  text-align: center;
}

.menu__container ::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 0.9em;
}

.menu__container input[type=text] {
  padding: 5px 0px 5px 10px;
  height: 15%;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  font-family: 'Roboto';
}

.menu__container label {
  font-family: 'Roboto';
}

.menu__container .formTo {
  padding-bottom: 40px;
}

.menu__container input[type=date] {
  padding: 5px 0px 5px 10px;
  height: 15%;
  width: 100%;
  border-radius: 5px;
  margin: 3px 0px 10px 0px;
  font-family: 'Roboto';
}

.menu__container .add {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 20px 5px 0px 5px;
  font-weight: 600;
}

.menu__container .subtract {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 20px 5px 0px 5px;
  font-weight: 600;
}

.menu__container .find {
  background: #ff0000;
  height: 70px;
  width: 70px;
  border-radius: 40px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
}

.menu__container .passengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__container .passengers input[type=number] {
  font-size: 16px;
  margin: 25px 0px 0px 10px;
  background-color: #4d4d4f;
  color: #ffffff;
  width: 10%;
}

.menu__container .passengers input[type=number]:-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.menu__container .passengers input[type=number]:-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.menu__container .passengers .passengerText {
  font-size: 16px;
  margin: 30px 10px 0px 0px;
  color: #ffffff;
}

.menu__container .checkboxLabel {
  display: block;
  margin: 20px 0px 20px 0px;
  position: relative;
  cursor: pointer;
}

.menu__container .checkboxLabel input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.menu__container .checkboxLabel input:checked ~ .checkmark {
  background-color: #4d4d4f;
}

.menu__container .checkboxLabel input:checked ~ .checkmark:after {
  display: block;
}

.menu__container .checkboxLabel .checkmark:after {
  left: 4px;
  top: 2px;
  width: 10px;
  height: 10px;
  border: solid #f30000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__container .checkmark {
  position: absolute;
  top: -5px;
  right: 60px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.menu__container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/*# sourceMappingURL=main.css.map */